@use 'variables.scss';
@use 'mixins.scss';

@import url('../css/normalize.css');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html{
    font-family: "Inter", sans-serif;
}

body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

header{
    @include mixins.headerMobile();
}

.navbar{
    @include mixins.navbar();
}

.navbar figure{
    margin-left: 15px;
}

.nav-menu{
    @include mixins.navMenuDesktop();
}

.grid-container {
    @include mixins.gridContainerStyles(60px 15px 60px 15px, 30px, 2);
}

.grid-item{
    @include mixins.gridItemStyles();
}

.overlay{
    @include mixins.overlayStyles();
}

.grid-item:hover{
    .overlay{
        // display: block;
        opacity: 1;
      };
}

.fa-heart{
    transition: all 0.3s ease-in-out !important;
    color: variables.$heartColor;
    cursor: pointer;
    &:hover{
        color: variables.$active;
    }
}

.fa-heart.clicked{
    color: variables.$active;
}

.details{
    @include mixins.detailStyles();
}

.date{
    @include mixins.dateStyles();
}
.views{
    @include mixins.statsStyles();
}

.delete-icon{
    @include mixins.deleteButtonStyles();
}

.grid-item:hover .delete-icon{
    display: block;
}

.delete-icon:active{
    @include mixins.deleteButtonActiveStyles();
}

// Added an !important tag to override some of the default font-awesome styles. These styles could have been shorter if Font-Awesome Pro is used.
.check-icon{
    display: none !important;
    color: variables.$checkMark;
    margin: 20px 0 10px 15px !important;
    &:hover{
        cursor: pointer !important;
    };
}

.check-icon.active{
    display: block !important;
}

.nav-link{
    @include mixins.linkStyles();
}

.button-container{
    @include mixins.buttonInteractivityMobileStyles();
    @include mixins.display(flex, center, center, column);
    cursor: pointer;
}

.hamburger {
    @include mixins.hamburgerStyles();
  }

.bar {
    @include mixins.hamburgerBarStyles();
}

.hamburger.is-active .bar:nth-child(1) {
    transform: rotate(45deg) translate(4px, 4px);
  }
  
.hamburger.is-active .bar:nth-child(2) {
    opacity: 0;
}
  
.hamburger.is-active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
}

main{
    scroll-snap-align: start;
}

footer{
    @include mixins.footerMobileStyles();
}

.left-container{
    display: flex;
}

// footer h2{
//     @include mixins.blogStyles();
// }

.blog-item{
    @include mixins.footerLinkStyles();
    &:hover, :focus-within{
        cursor: pointer;
    }
}

.course-item{
    @include mixins.footerLinkStyles();
    &:hover, :focus-within{
        cursor: pointer;
    }
}

.social-container p{
    @include mixins.socialContainerTextStyles();
}

.legality{
    display: flex;
    gap: 10px;
    @include mixins.legalityStyles();
    .tos{
        display: flex;
        gap: 10px;
    }
}

// For screens with 490px less
@media only screen and (max-width: 490px){
    .grid-container {
        @include mixins.gridContainerStyles(60px 15px 60px 15px, 30px, 1);
    }
}

// // For screens with 490px less
// @media only screen and (max-width: 845px){
//     .grid-container {
//         @include mixins.gridContainerStyles(60px 10px 60px 10px, 30px, 2);
//     }
// }

// For screens with 425px or less
@media only screen and (max-width: 425px){
    .grid-container{
        @include mixins.gridContainerStyles(60px 15px 60px 15px, 40px, 1);
    }
    // .blog-menu{
    //     display: inline-block;
    //     gap: 20px;
    // }
}

// For screens with 320px or less
@media only screen and (max-width: 320px){
    .grid-container{
        @include mixins.gridContainerStyles(60px 15px 60px 15px, 40px, 1);
    }
    footer{
        @include mixins.footerMobileStyles();
    }
}

// Desktop Screens
@media only screen and (min-width: 843px) {
    header{
        @include mixins.headerDesktop();
    }

    .navbar{
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-menu{
        @include mixins.display(flex, space-between, center, row);
        gap: 30px;
    }

    .nav-link{
        transition: 0.7s ease;
    }

    .nav-link:hover{
        color: variables.$hoverlink;
        text-decoration: underline;
    }

    .button-container{
        @include mixins.display(flex, center, center, row);
        @include mixins.buttonInteractivityDesktopStyles();
    }

    .hamburger {
        display: none;
      }

    // Desktop Screens
    .grid-container {
        @include mixins.gridContainerStyles(60px 80px 60px 80px, 40px, 3)
      }

    footer{
        @include mixins.footerDesktopStyles();
    }
}

// Mobile Hamburger Props
@media (max-width: 842px) {
    .nav-menu {
        @include mixins.navMenuMobile();
    }

    .nav-menu li:hover{
      background-color: variables.$hoverlink;
    }
  
    .nav-menu.active {
      display: block;
    }
  
    .nav-item {
      margin: 16px 0;
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
    }
  }