$whitebackground: #FFFFFF;
$headerColor: #FFFFFF;
$hamburgerBarColor: #FFFFFF;
$whiteFontColor: #FFFFFF;
$socialContainerTextColor: #FFFFFF;
$gridItemBackground: #F8F9FC;
$borderColor: #C0BFCF;

$normalState: #9D9DB5;

$mobileFontColor: #9D9DB5;
$detailsBorderColor: #9D9DB5;
$heartColor: #9D9DB5;
$dateColor: #9D9DB5;
$statsColor: #9D9DB5;
$normal: #9D9DB5;

$header: #192140;
$checkMark: #192140;

$gradientbackground: linear-gradient(0deg, #192140, #192140), linear-gradient(0deg, #625F87, #625F87);
$border: 1px solid #625F87;
$darkblue: #10131C;
$footerBG: #10131C;

$footerListColor: #D7F8FF;

$hoverlink: #DCF10D;
$yellowbackground: #DCF10D;
$fill: #0266FF;
$active: #0266FF;
$hover: #0266FF;
$lightblue: #0266FF;

$shadow: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%);